@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;

}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.project_cont {
    background: url("../../images/project_img.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }


  .card-img-top{
    height: 150px;
    width: 100%;
  }

  .card-img-details{
    height: 200px;
    width: 30%;
  }

  .card-body{
    background: linear-gradient(45deg, #68e0cf, #a2ded0, #d3f1ed) ;
  }
  .card-btn {
    color: black;
    border: 1px solid black;
  }
  
  .card-btn:hover {
    color: white;
    background-color: black;

  }
  .view-btn {
    color: white;
    border: 1px solid #68e0cf;
 
  }
  
  .view-btn:hover {
    color: black ;
    background-color: #68e0cf ;
  }


  @media screen and (min-width: 601px) and (max-width: 800px) {
    .card-img-details{
      width: 50% !important;

    }
 
  }

  
  @media screen and  (max-width:426px) {
    .card-img-details{
      width: 100% !important;
      

    }
    .details-text{
      font-size:small !important;
    }
 
  }