@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.project_cont {
    background: url("../../images/project_img.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }


  .card-img-top{
    height: 150px;
    width: 100%;
  }

  .card-body{
    background: linear-gradient(45deg, #68e0cf, #a2ded0, #d3f1ed) ;
  }

  .card{
    height: 380px;
    width: 300px;
  }